 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
 body {
     font-family: 'Inter', sans-serif;
 }
 /* Glow animation */
 
 @keyframes glow {
     0% {
         box-shadow: 0 0px 10px rgba(255, 255, 255, 0.1), 0 0px 20px rgba(0, 0, 0, 0.1);
     }
     100% {
         box-shadow: 0 0px 20px rgba(255, 255, 255, 0.2), 0 0px 30px rgba(0, 0, 0, 0.2);
     }
 }
 
 .hover-glow:hover {
     animation: glow 0.5s ease-in-out forwards;
 }